# ASP.NET Core
# Build and test ASP.NET Core web applications targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/dotnet-core

pool:
  vmImage: 'vs2017-win2016'

trigger:
  branches:
    include:
    - main
    - refs/tags/*

schedules:
- cron: '0 0 * * *'
  displayName: Daily Build
  always: true
  branches:
    include:
    - main

variables:
  buildConfiguration: 'Release'

steps:
- task: UseGitVersion@5
  displayName: GitVersion
  inputs:
    versionSpec: '5.x'

# https://dotnet.microsoft.com/download/dotnet-core/3.1
- task: UseDotNet@2
  displayName: Install .Net Core 3.1.200 LTS
  inputs:
    packageType: 'sdk'
    version: '3.1.200'

# https://dotnet.microsoft.com/download/dotnet/5.0
- task: UseDotNet@2
  displayName: Install .Net Core 5.0.101
  inputs:
    packageType: 'sdk'
    version: '5.0.101'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration) /p:Version=$(GitVersion.SemVer)'

- task: DotNetCoreCLI@2
  displayName: Test
  inputs:
    command: test
    projects: |
      **/tests/*.Tests/*.csproj
      **/tests/*.IntegrationTests/*.csproj
    arguments: '--configuration $(buildConfiguration) --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:Include="[Opw.*]*" /p:Exclude="[*.Tests]*%2c[*.*Tests]*"'

# Release: triggered by a version tag
- task: DotNetCoreCLI@2
  displayName: NuGet Pack Opw.HttpExceptions
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  inputs:
    command: pack
    packagesToPack: '**/Opw.HttpExceptions.csproj'
    nobuild: true
    versioningScheme: byEnvVar
    versionEnvVar: 'GitVersion.NuGetVersion'

- task: DotNetCoreCLI@2
  displayName: NuGet Pack Opw.HttpExceptions.AspNetCore
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  inputs:
    command: pack
    packagesToPack: '**/Opw.HttpExceptions.AspNetCore.csproj'
    nobuild: true
    versioningScheme: byEnvVar
    versionEnvVar: 'GitVersion.NuGetVersion'

- task: NuGetCommand@2
  displayName: NuGet Push
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: NuGet
    versioningScheme: byEnvVar
    versionEnvVar: 'GitVersion.NuGetVersion'

- task: GithubRelease@0
  displayName: Create GitHub Release
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  inputs:
   gitHubConnection: GitHub
   repositoryName: $(Build.Repository.Name)
   action: create
   target: $(Build.SourceVersion)
   tagSource: auto
   tag: '$(GitVersion.SemVer)'

# Finalize
- task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
  displayName: 'Generate Code Coverage Report'
  inputs:
    reports: '$(Build.SourcesDirectory)/**/coverage*cobertura.xml'
    targetdir: '$(build.artifactstagingdirectory)/coverage/'

- task: PublishCodeCoverageResults@1
  displayName: 'Publish Code Coverage Results'
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(build.artifactstagingdirectory)/coverage/cobertura.xml'
    # To make the task not regenerate the report an environment variable was added to the pipeline in Azure DevOps; "disable.coverage.autogenerate: 'true'"
    # see: https://github.com/danielpalme/ReportGenerator/wiki/Integration#attention
    reportDirectory: '$(build.artifactstagingdirectory)/coverage'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  condition: always()
  inputs:
    PathtoPublish: $(build.artifactstagingdirectory)
